.elementor-kit-7 {
  --e-global-color-primary: #4a4a68;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #e94398;
  --e-global-color-3957711: #1d4f7c;
  --e-global-color-e9e6d64: #fdf9ec;
  --e-global-color-f60a524: #5db2e3;
  --e-global-color-e64199f: #8287c2;
  --e-global-color-c498f62: #8dcaef;
  --e-global-color-da6c65d: #f9b297;
  --e-global-color-3d3e984: #f5a6c8;
  --e-global-color-ed58381: #3e4277;
  --e-global-color-606b6b6: #4c91bf;
  --e-global-color-f9da10e: #ca703d;
  --e-global-color-c75af5c: #e94398;
  --e-global-typography-primary-font-family: "Roboto";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Roboto Slab";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Roboto";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Roboto";
  --e-global-typography-accent-font-weight: 500;
}
.elementor-kit-7 e-page-transition {
  background-color: #ffbc7d;
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button {
  background-color: var(--e-global-color-3957711);
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button:hover {
  background-color: var(--e-global-color-3957711);
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  --kit-widget-spacing: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}
body[data-elementor-device-mode="widescreen"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="widescreen"] .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="widescreen"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
body[data-elementor-device-mode="desktop"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="desktop"] .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="desktop"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
body[data-elementor-device-mode="laptop"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="laptop"] .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="laptop"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
body[data-elementor-device-mode="tablet_extra"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="tablet_extra"]
  .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="tablet_extra"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
body[data-elementor-device-mode="tablet"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="tablet"] .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="tablet"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
body[data-elementor-device-mode="mobile_extra"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="mobile_extra"]
  .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="mobile_extra"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
body[data-elementor-device-mode="mobile"] .ha-scroll-to-top-wrap,
body[data-elementor-device-mode="mobile"] .ha-scroll-to-top-wrap.edit-mode,
body[data-elementor-device-mode="mobile"]
  .ha-scroll-to-top-wrap.single-page-off {
  visibility: visible;
  opacity: 1;
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button i {
  font-size: 27px;
  color: var(--e-global-color-e9e6d64);
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button img {
  height: 27px;
  width: 27px;
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button span {
  color: var(--e-global-color-e9e6d64);
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button:hover i {
  color: var(--e-global-color-e9e6d64);
}
.ha-scroll-to-top-wrap .ha-scroll-to-top-button:hover span {
  color: var(--e-global-color-e9e6d64);
}
@media (max-width: 1024px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
  body[data-elementor-device-mode="widescreen"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="widescreen"]
    .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="widescreen"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="desktop"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="desktop"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="desktop"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="laptop"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="laptop"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="laptop"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="tablet_extra"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="tablet_extra"]
    .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="tablet_extra"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="tablet"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="tablet"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="tablet"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="mobile_extra"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="mobile_extra"]
    .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="mobile_extra"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="mobile"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="mobile"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="mobile"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
  body[data-elementor-device-mode="widescreen"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="widescreen"]
    .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="widescreen"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="desktop"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="desktop"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="desktop"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="laptop"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="laptop"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="laptop"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="tablet_extra"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="tablet_extra"]
    .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="tablet_extra"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="tablet"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="tablet"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="tablet"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="mobile_extra"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="mobile_extra"]
    .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="mobile_extra"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
  body[data-elementor-device-mode="mobile"] .ha-scroll-to-top-wrap,
  body[data-elementor-device-mode="mobile"] .ha-scroll-to-top-wrap.edit-mode,
  body[data-elementor-device-mode="mobile"]
    .ha-scroll-to-top-wrap.single-page-off {
    visibility: visible;
    opacity: 1;
  }
}
